:root{
    --mainColor: #408080;
    --secondaryColor: #8FBFBF;
    --thirdColor: #FFDFCC;
    --fourthColor: #AA8671;
    --fifthColor: #8C8C8C;
    --altColor: #CCFFFF;
    --mainFontSize: 12px;
}

body{
font-family: Ebrima;
}
.bg-lightbeige{
    background-color: var(--thirdColor);
}

.mainBgColor{
    background-color: var(--mainColor);
}
.secondaryBgColor{
    background-color: var(--secondaryColor);
}
.text-white{
    color: #ffffff;
}
header{
    height: 80px;
    padding: 10px;
    font-weight: bold;
}
header, a, a:visited{
    color: var(--mainColor);
    font-size: var(--mainFontSize);
    text-decoration: none;
    line-height: 100%;
}
.logo{
    height: 60px;
}
.logoMini{
    height: 54px;
    max-width: auto;
    padding: 0;
}
.navMenu{
    height: 100%;
    width: 100%;
}
.navMenu-listItem{
    text-align: center;
}

.globlaContainer{
    width: 100%;
    height: fit-content;
    min-height: 100vh;
}

.mainContainer{
    padding: 0 100px;
    max-width: 100%;
    height: fit-content;
}
.presentation{
    padding: 20px 10px;
    border-radius: 15px;
    margin-bottom: 40px !important;
}

.presTitle{
    height: fit-content;
    width: fit-content;
    max-width: 100%;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 0 20px 0;
    padding: 10px;
    background-color: #ffffff;
}
.padding-10{
    padding: 10px;
}
.padding-5{
    padding: 5px;
}
.round-10{
    border-radius: 10px;
}
.gap-10{
    gap: 10px;
}
.gap-20{
    gap: 20px;
}
.gap-30{
    gap: 30px;
}
.stackParent{
    width: fit-content;
}
.imgAccueil{
    width: 250px;
}
.imgTxtAccueil{
    text-align: center;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.90);
    font-size: 32px;
    line-height: normal;
}
.description{
    align-self: stretch;
    text-align: center;
    font-size: 16px;
    line-height: normal;
}
.searchBar{
    border-radius: 15px;
    width: fit-content;
}
.searchTitle{
    width: fit-content;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
#searchTrajetForm{
    width: fit-content;
}
.txtForm{
    position: relative;
    width: fit-content;
}
.labelForm{
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(25%, -75%);
    background-color: var(--fourthColor);
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.inputContainer{
    background-color: #ffffff;
    border: 2px solid var(--fourthColor);
    border-radius: 4px;
    gap: 10px;
}
.iconForm{
    width: 24px;
    height: 24px;
}
.txtInputForm{
    border: none;
}
textarea, input{
    color: var(--fifthColor);
}

textarea:focus, input:focus{
    outline: none;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1) brightness(50%);
}
.submitBtn{
    background-color: var(--fourthColor);
    border-radius: 4px;
    border: none;
    font-size: 14px;
    font-weight: 400;
}
.footerContainer{
    color: var(--mainColor);
    font-size: var(--mainFontSize);
    margin: 0;
    padding: 10px;
    height: 60px;
}
.footerContainer p{
    margin: 0;
}



@media screen and (max-width: 768px) {

    .mainContainer{
        padding: 20px 10px 80px 10px;
    }
    .imgAccueil{
        width: auto;
        height: 177px;
    }
    .imgTxtAccueil{
        font-size: 15px;
    }
}