:root{
    --mainColor: #408080;
    --secondaryColor: #8FBFBF;
    --thirdColor: #FFDFCC;
    --fourthColor: #AA8671;
    --fifthColor: #8C8C8C;
    --altColor: #CCFFFF;
    --mainFontSize: 12px;

    --track-height: 10px;
    --thumb-height: 16px;
    --thumb-width: 16px;
}

body{
font-family: Ebrima;
}

.bg-lightbeige{
    background-color: var(--thirdColor);

}
.bg-white{
    background-color: white;
}
.mainBgColor{
    background-color: var(--mainColor);
}
.secondaryBgColor{
    background-color: var(--secondaryColor);
}
.fourthBgColor{
    background-color: var(--fourthColor);
}
.text-white{
    color: #ffffff;
}
.text-mainColor{
    color: var(--mainColor);
}
.border-div-1{
    border: 1px solid var(--secondaryColor);
}

header{
    height: 80px;
    padding: 10px;
    font-weight: bold;
}
header, a, a:visited{
    color: var(--mainColor);
    font-size: var(--mainFontSize);
    text-decoration: none;
    line-height: 100%;
}
.logo{
    height: 60px;
}
.logoMini{
    height: 54px;
    max-width: auto;
    padding: 0;
}
.navMenu{
    height: 100%;
    width: 100%;
}
.navMenu-listItem{
    text-align: center;
}

.globlaContainer{
    width: 100%;
    height: fit-content;
    min-height: 100vh;
}

.mainContainer{
    padding: 40px 100px;
    max-width: 100%;
    height: fit-content;
}

.presentation{
    padding: 20px 10px;
    border-radius: 15px;
    margin-bottom: 40px !important;
}
.presTitle{
    height: fit-content;
    width: fit-content;
    max-width: 100%;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 0 20px 0;
    padding: 10px;
    background-color: #ffffff;
}

.padding-10{
    padding: 10px !important;
}
.padding-5{
    padding: 5px;
}
.padding-20{
    padding: 20px;
}
.m-10{
    margin: 10px !important;
}
.margin-r-10{
    margin-right: 10px !important;
}
.margin-r-40{
    margin-right: 40px !important;
}
.margin-b-5{
    margin-bottom: 10px !important;
}
.margin-b-10{
    margin-bottom: 10px !important;
}
.margin-b-20{
    margin-bottom: 20px !important;
}
.margin-b-40{
    margin-bottom: 40px !important;
}

.round-4{
    border-radius: 4px;
}
.round-10{
    border-radius: 10px;
}
.round-15{
    border-radius: 15px;
}
.round-tr-15{
    border-radius: 0 15px 0 0;
}
.round-tl-15{
    border-radius: 15px 0 0 0;
}
.round-tr-b-15{
    border-radius: 0 15px 15px 15px;
}

.gap-10{
    gap: 10px;
}
.gap-20{
    gap: 20px;
}
.gap-30{
    gap: 30px;
}
.gap-40{
    gap: 40px;
}

.font-12{
    font-size: 12px;
}
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-24{
    font-size: 24px;
}
.fontweight-700{
    font-weight: 700;
}

.fit{
    width: fit-content;
}
.bsizing-bb{
    box-sizing: border-box;
}

.btnStyle{
    border-radius: 4px;
    background-color: var(--fourthColor);
    cursor: pointer;
}
.pointer{
    cursor: pointer;
}

.hidden{
    display: none !important;
}

.rounded-icon-bg{
    width: 30px;
    height: 30px;
}

.starIcon{
    height: 100% !important;
    width: auto;
    top: 0;
    left: 0;
    padding: 0;
}

.stackParent{
    width: fit-content;
}
.imgAccueil{
    width: 250px;
}
.imgTxtAccueil{
    text-align: center;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.90);
    font-size: 32px;
    line-height: normal;
}
.description{
    align-self: stretch;
    text-align: center;
    font-size: 16px;
    line-height: normal;
}
.searchBar{
    border-radius: 15px;
    width: fit-content;
}
.searchTitle{
    width: fit-content;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
#searchTrajetForm{
    width: fit-content;
}
.txtForm{
    position: relative;
    width: fit-content;
}
.labelForm{
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(25%, -75%);
    background-color: var(--fourthColor);
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.inputContainer{
    background-color: #ffffff;
    border: 2px solid var(--fourthColor);
    border-radius: 4px;
    gap: 10px;
}
.iconForm{
    width: 24px;
    height: 24px;
}
.txtInputForm{
    border: none;
}
textarea, input{
    color: var(--fifthColor);
}

textarea:focus, input:focus{
    outline: none;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1) brightness(50%);
}

input[type='radio'] {
    accent-color: var(--mainColor);
}

select{
    width: 200px;
}

.submitBtn{
    background-color: var(--fourthColor);
    border-radius: 4px;
    border: none;
    font-size: 14px;
    font-weight: 400;
}

.filterContainer{
    color: var(--mainColor);
    font-size: 16px;
    margin: 0 0 40px 0;
}

.checkbox-wrapper{
    height: fit-content;
}
.checkbox-wrapper .checkbox {
    appearance: none;
    background-color: #ffffff;
    border-radius: 72px;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
    border: 1px solid var(--mainColor);
  }

  .checkbox-wrapper .checkbox::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
  }

  .checkbox-wrapper .checkbox,
  .checkbox-wrapper .checkbox::after {
    transition: all 100ms ease-out;
  }

  .checkbox-wrapper .checkbox::after {
    background-color: #ffffff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 2px;
    width: 14px;
    border: 1px solid var(--mainColor);
  }

  .checkbox-wrapper input[type=checkbox] {
    cursor: pointer;
  }

  .checkbox-wrapper .checkbox:hover {
    background-color: #ffffff;
    transition-duration: 0s;
  }

  .checkbox-wrapper .checkbox:checked {
    background-color: var(--mainColor);
  }

  .checkbox-wrapper .checkbox:checked::after {
    background-color: #ffffff;
    left: 13px;
  }

  .checkbox-wrapper :focus:not(.focus-visible) {
    outline: 0;
  }

  .checkbox-wrapper .checkbox:checked:hover {
    background-color: var(--mainColor);
  }
.filterSlider{
    cursor: pointer;
    accent-color: var(--mainColor);
}
.filterSlider:focus{
    outline: none;
}
.filterNote{
    height: 20px;
    cursor: pointer;
}

input::-webkit-calendar-picker-indicator{
    cursor: pointer;
}

.resultContainer{
    margin-top: 40px;
}

.trajet_listElement{
    border: 1px solid var(--secondaryColor);
    margin: 5px 0 5px 0;
    line-height: normal;
}
.resultNote{
    height: 20px;
}
.Note{
    height: 20px;
}
.starContainer{
    height: 100%;
}
.profilePic{
    width: 80px;
    height: auto;
}
.leafIcon{
    width: 15px;
    height: fit-content;
}

.profileNote{
    height: 20px;
}

.footerContainer{
    color: var(--mainColor);
    font-size: var(--mainFontSize);
    margin: 0;
    padding: 10px;
    height: 60px;
    width: 100%;
}
.footerContainer p{
    margin: 0;
}



@media screen and (max-width: 768px) {

    .mainContainer{
        padding: 20px 10px 80px 10px;
    }
    .imgAccueil{
        width: auto;
        height: 177px;
    }
    .imgTxtAccueil{
        font-size: 15px;
    }

    .filterContainer{
        display: flex;
        flex-direction: column !important;
    }
}